.integration-logo {
  position: relative;
  text-align: center;
  width: 141px;
  cursor: pointer;
  margin-right: 20px; }
  .integration-logo .integration-logo__image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 141px;
    margin: 0;
    padding: 20px;
    border: 1px solid #000; }
    .integration-logo .integration-logo__image img {
      max-width: 100%; }
  .integration-logo .integration-logo__label {
    font-size: 16px;
    line-height: 34px;
    margin-top: 10px; }
  .integration-logo.disabled .integration-logo__label {
    color: rgba(51, 51, 51, 0.4); }
  .integration-logo.warning::after, .integration-logo.active::after {
    content: '';
    position: absolute;
    right: -5px;
    top: -5px;
    display: block;
    width: 21px;
    height: 21px; }
  .integration-logo.warning::after {
    background-image: url(../../images/icons/cuution.png); }
  .integration-logo.active::after {
    background-image: url(../../images/icons/checkmark.png); }
