.modal-wizard {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;

	input {
		border: 1px solid rgb(30, 91, 125);
		width: 281px;
		height: 39px;
		text-align: center;
		font-size: 18px;
		line-height: 28px;
	}
}
