.modal-wizard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1; }
  .modal-wizard input {
    border: 1px solid #1e5b7d;
    width: 281px;
    height: 39px;
    text-align: center;
    font-size: 18px;
    line-height: 28px; }
