@import "styles/shared.scss";

.btn {
	@include clear-input;
	display: inline-block;
	text-align: center;
	font-weight: 700;
	padding: 12px 20px;
	text-decoration: none;

	&.btn-primary {
		background: $color-blue;
		color: #fff;
		text-transform: uppercase;
	}

	&.btn-orange {
		color: $color-orange;
		border: 2px solid $color-orange;
		padding: 9px 20px;
	}
}
