@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

@mixin font-base {
	font-family: 'Open Sans', sans-serif;
}

@mixin font-sec {
	font-family: 'Montserrat', sans-serif;
}
