@import "styles/shared.scss";

.modal{
	position: fixed;
	z-index: 9;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;

	&::before {
		content: '';
		position: absolute;
		left: -2000px;
		right: -2000px;
		top: -2000px;
		bottom: -2000px;
		background: rgba(#000, .5);
		z-index: 0;
	}

	.modal-content {
		position: absolute;
		display: flex;
		flex-direction: column;
		background: #fff;
		width: 100%;
		max-width: 895px;
		min-height: 572px;
		max-height: 90vh;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		padding: 20px 20px 50px 20px;
		overflow-y: auto;
	}

	.modal-body {
		display: flex;
		flex: 1;
		width: 100%;
	}



	.dots {
		position: absolute;
		bottom: 20px;
		left: 0;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;

		span {
			display: block;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background: $color-grey;
			margin: 0 3px;

			&.active {
				background: $color-grey-1;
			}
		}
	}
}
