@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
.modal {
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0; }
  .modal::before {
    content: '';
    position: absolute;
    left: -2000px;
    right: -2000px;
    top: -2000px;
    bottom: -2000px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0; }
  .modal .modal-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 100%;
    max-width: 895px;
    min-height: 572px;
    max-height: 90vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 20px 50px 20px;
    overflow-y: auto; }
  .modal .modal-body {
    display: flex;
    flex: 1;
    width: 100%; }
  .modal .dots {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center; }
    .modal .dots span {
      display: block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: #e6e6e6;
      margin: 0 3px; }
      .modal .dots span.active {
        background: #797979; }
