@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
.header-main .header-top .container {
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.header-main .header-middle .container {
  display: flex;
  align-items: flex-end; }

.header-main .header-bottom {
  background: #1e5b7d; }
  .header-main .header-bottom .container {
    display: flex;
    align-items: center;
    justify-content: space-between; }

.header-main .welcome {
  font-size: 12px;
  margin-right: 10px;
  color: #1e5b7d; }

.header-main .user-type {
  font-weight: 700; }

.header-main .main-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none; }

.header-main .main-nav li:not(:first-child) {
  margin-left: 20px; }

.header-main .main-nav a {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #4b7c97; }

.header-main .sub-nav {
  padding: 20px 0; }
  .header-main .sub-nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none; }
  .header-main .sub-nav li:not(:last-child) {
    margin-right: 20px; }
  .header-main .sub-nav a {
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    color: #fff; }
    .header-main .sub-nav a.active {
      text-decoration: underline; }
