@import "styles/shared.scss";

.header-main {
	.header-top{
		.container{
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
	}
	.header-middle {
		.container {
			display: flex;
			align-items: flex-end;
		}
	}
	.header-bottom {
		background: $color-blue;

		.container {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	.welcome {
		font-size: 12px;
		margin-right: 10px;
		color: $color-blue;
	}

	.user-type {
		font-weight: 700;
	}

	.main-nav {
		ul {
			display: flex;
			margin: 0;
			padding: 0;
			list-style: none;
		}
		li {
			&:not(:first-child) {
				margin-left: 20px;
			}
		}
		a {
			display: block;
			font-weight: bold;
			text-transform: uppercase;
			text-decoration: none;
			color: #4b7c97;
		}
	}

	.sub-nav {
		padding: 20px 0;

		ul {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			margin: 0;
			padding: 0;
			list-style: none;
		}
		li {
			&:not(:last-child) {
				margin-right: 20px;
			}
		}

		a {
			display: block;
			text-decoration: none;
			text-transform: capitalize;
			font-size: 14px;
			line-height: 24px;
			font-weight: 600;
			color: #fff;

			&.active {
				text-decoration: underline;
			}
		}
	}
}
