.integration-links {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;

	.add-element {
		position: relative;
		border: 1px solid #000;
		width: 141px;
		height: 141px;
		cursor: pointer;

		&::before,
		&::after {
			content: '';
			display: block;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 38px;
			height: 6px;
			background: #aeaeae;
		}

		&::after {
			transform: translate(-50%, -50%) rotate(90deg);
		}
	}
}
