@import "styles/shared.scss";

.toggler {
	position: relative;
	width: 44px;
	height: 22px;
	border-radius: 11px;

	&::after {
		content: '';
		position: absolute;
		display: block;
		top: 50%;
		width: 18px;
		height: 18px;
		border-radius: 50%;
		transform: translateY(-50%);
	}

	&.active {
		background-color: $color-green;

		&::after {
			background: $color-grey;
			right: 2px;
		}
	}

	&.inactive {
		background: $color-grey;

		&::after {
			background: $color-grey-1;
			left: 2px;
		}
	}

}
