@import "styles/shared.scss";
@import "styles/btn.scss";

body {
	@include font-base;
	margin: 0;
	padding: 0;
	color: #343434;
}

.container {
	max-width: 1240px;
	margin: 0 auto;
	padding: 0 15px;
}

*{
	box-sizing: border-box;
}
