body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px; }

.modal {
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0; }
  .modal::before {
    content: '';
    position: absolute;
    left: -2000px;
    right: -2000px;
    top: -2000px;
    bottom: -2000px;
    background: rgba(0, 0, 0, 0.8);
    z-index: 0; }
  .modal .modal-content {
    position: absolute;
    background: #fff;
    min-height: 300px;
    width: 300px;
    max-height: 90vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto; }
